.header {
    margin: 0px;
    color: black;
    background-color: #ff8a80;
    width: 100%;
    height: 116px;
}

span {
    margin-left: 690px;
}

.header button {
    border-style: groove;
    height: 40px;
    border-width: 6px;
    border-color: #B2DFDB;
    background-color: #95CADB;
}

.header img {
    width: 40px;
}

body {
    background-color: #FFF9C4;
}

#back {
    width: 400px;
    border-style: double;
    border-width: 10px;
}